gravity*

# Ignore IntelliJ IDEA project files
.idea/

# Ignore specific data folders
tools/grafana-prometheus/grafana/data/
tools/grafana-prometheus/prometheus/data/

pihole-unbound/pihole/
portainer-watchtower/portainer/

.homeassistant/
# Explicitly do NOT ignore ./proxy/data
!/proxy-manager/data/
