#### general
#

!.env.enc
!grafana/.env
*.env

#### pihole-unbound
#

pihole-unbound/pihole/pihole/
gravity*

#### networking
#

cloudflare/cloudflare-ddns-config.json

!proxy-manager/data/
!proxy-manager/letsencrypt/

#### monitoring
#

grafana-prometheus/grafana/data/
grafana-prometheus/prometheus/data/

portainer/

homeassistant/

#### miscellaneous
#


#### test
#
