gravity*

# Ignore env files not encrypted
!.env.enc
!grafana/.env
*.env

# Ignore specific data folders
grafana-prometheus/grafana/data/
grafana-prometheus/prometheus/data/

pihole-unbound/pihole/
portainer/

homeassistant/

## NPM

proxy-manager/letsencrypt/

# Explicitly do NOT ignore ./proxy/data
!/proxy-manager/data/
